*.html
*.eld
*.dat
*ido*
*.html
*.pdf
*.tex

diary
eshell
network-security.data
.python-environments
.emacs_workgroups
irony
dmenu-items
config.el
recentf
smex-items
tramp
emms
auto-save-list
elpa
transient
auto-complete-love
auto-complete-lua
session.*
#*#
